.dv-border-box-8{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #2c3e50;
  cursor: default;
  position: relative;
  margin: 10px auto;
}

.dv-border-box-8 .dv-border-svg-container{
  margin: 0 auto;
}

